streamlit
# Utilities
numpy
pandas

# FACE RECOGNITION
scikit-learn
dlib-bin
# python -m pip install dlib-20.0.0-cp310-cp310-win_amd64.whl
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0



supabase
bcrypt

segno
pillow



librosa
resemblyzer
